In [1]:
import sklearn;

Either choose a dataset with the load_dataset param or create your own dataset. 

Check the GitHub repository for options.

In [2]:
let data := "[[0.00632, 18.0, 2.31, 0.0, 0.538, NaN, 65.2, 4.09, 1.0, 296.0, 15.3, 396.9, NaN], [0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.9, 4.9671, 2.0, 242.0, 17.8, 396.9, 9.14]]";
print(data);

[[0.00632, 18.0, 2.31, 0.0, 0.538, NaN, 65.2, 4.09, 1.0, 296.0, 15.3, 396.9, NaN], [0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.9, 4.9671, 2.0, 242.0, 17.8, 396.9, 9.14]]

Let us remove all NaN values from the dataset above.

For this example we take set all NaN values to a constant value of 42.

In [3]:
data := simple_imputer(data, "constant", "42");
print(data);

[[0.00632, 18.0, 2.31, 0.0, 0.538, 42.0, 65.2, 4.09, 1.0, 296.0, 15.3, 396.9, 42.0], [0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.9, 4.9671, 2.0, 242.0, 17.8, 396.9, 9.14]]

Normalize the data using the `normalize()` funciton

In [4]:
data := normalize(data);
print(data);

[[1.2552287466025874e-05, 0.03575018582095977, 0.004587940513689837, 0.0, 0.0010685333317597976, 0.08341710024890613, 0.12949511752925427, 0.008123236667095858, 0.001986121434497765, 0.5878919446113384, 0.030387657947815803, 0.7882915973521628, 0.08341710024890613], [5.785298888267446e-05, 0.0, 0.014976954646668195, 0.0, 0.0009935207537888802, 0.013602125288013647, 0.1671402717994513, 0.010522210951268119, 0.004236762276285204, 0.5126482354305096, 0.03770718425893831, 0.8407854737287986, 0.01936200360262338]]

Finally, we can apply a PCA transform on the normalised dataset.

In [5]:
let result := pca_fit_transform(data, "2");
print(result);

[[-0.07117228676015526, 5.197175422049341e-17], [0.07117228676015533, 5.1971754220493353e-17]]